@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
body{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  transition-duration: 200ms;
  /*background-color: rgb(8, 2, 20);*/
}

a{
  text-decoration: none;
  font-weight: 500;
}
a:hover{
  text-decoration: underline;
}