@import 'bulma/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('darkly.css');
body{
  font-family: 'Lato', sans-serif !important;
  box-sizing: border-box;
  margin: 0;
}
.navbar-blur{
  backdrop-filter: blur(5px);
  background: #0c0c0c46 !important;
}
